#main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('img/currencies.png');
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#rate {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
